In [1]:
import pandas as pd

In [4]:
# Import data
season1 = pd.read_csv("raw_pitch_data/wakefti1992.csv")

In [5]:
season1

,Rk,Gcar,Gtm,Date,Tm,Unnamed: 5,Opp,Rslt,Inngs,Dec,...,GDP,SF,ROE,aLI,WPA,acLI,cWPA,RE24,Entered,Exited
0,1,1,103,Jul�31,PIT,NaN,STL,"W,3-2",CG,W(1-0),...,0,1,1,1.62,0.464,5.67,0.97%,1.88,1t start tie,9t 3 out a1
1,2,2,107,Aug�5,PIT,NaN,NYM,"W,6-2",GS-8,W(2-0),...,1,1,0,0.86,0.183,3.26,0.42%,1.45,1t start tie,8t 3 out a4
2,3,3,112,Aug�10,PIT,@,NYM,"W,4-2",GS-8,NaN,...,0,0,0,1.24,0.273,3.75,0.49%,2.41,1b start tie,8b 3 out tie
3,4,4,117,Aug�16,PIT,NaN,ATL,"W,4-2",CG,W(3-0),...,0,0,0,1.29,0.560,4.20,1.09%,1.88,1t start tie,9t 3 out a2
4,5,5,122,Aug�21,PIT,@,SFG,"L,5-6",GS-6,L(3-1),...,1,0,0,1.41,-0.540,3.73,-0.86%,-3.54,1b start tie,6b 3 out d3
5,6,6,127,Aug�26,PIT,@,LAD,"W,2-0",SHO,W(4-1),...,0,0,0,1.25,0.558,4.18,1.12%,3.84,1b start tie,9b 3 out a2
6,7,7,132,Sep�2,PIT,NaN,SFG,"W,3-2",GS-9,W(5-1),...,0,0,0,1.40,0.234,4.61,0.46%,1.55,1t start tie,9t --3 2 out a1
7,8,8,137,Sep�7,PIT,NaN,CHC,"L,5-6",GS-3,NaN,...,0,0,0,0.92,-0.286,2.45,-0.46%,-2.83,1t start tie,3t 1-3 1 out d2
8,9,9,142,Sep�13,PIT,@,PHI,"L,3-6",GS-7,NaN,...,0,1,0,0.63,-0.100,1.46,-0.14%,0.02,1b start tie,7b 3 out d1
9,10,10,147,Sep�18,PIT,NaN,PHI,"W,5-2",CG(6),W(6-1),...,0,0,0,1.45,0.009,3.33,0.01%,0.59,1t start tie,6t 3 out a3
10,11,11,152,Sep�23,PIT,@,MON,"L,1-5",GS-7,NaN,...,1,0,0,1.34,0.415,0.28,0.05%,3.02,1b start tie,7b 3 out tie
11,12,12,157,Sep�28,PIT,@,CHC,"W,10-3",GS-7,W(7-1),...,1,1,0,0.57,-0.028,0.00,0.00%,0.11,1b start tie,7b 3 out a7
12,13,13,162,Oct�4,PIT,@,NYM,"W,2-0",GS-5,W(8-1),...,0,0,0,0.88,0.262,0.00,0.00%,2.13,1b start tie,5b 3 out tie

In [6]:
s1_columns = season1.columns

In [7]:
s1_columns

Index(['Rk', 'Gcar', 'Gtm', 'Date', 'Tm', 'Unnamed: 5', 'Opp', 'Rslt', 'Inngs',
       'Dec', 'DR', 'IP', 'H', 'R', 'ER', 'BB', 'SO', 'HR', 'HBP', 'ERA', 'BF',
       'Pit', 'Str', 'StL', 'StS', 'GB', 'FB', 'LD', 'PU', 'Unk', 'GSc', 'IR',
       'IS', 'SB', 'CS', 'PO', 'AB', '2B', '3B', 'IBB', 'GDP', 'SF', 'ROE',
       'aLI', 'WPA', 'acLI', 'cWPA', 'RE24', 'Entered', 'Exited'],
      dtype='object')

In [9]:
games = season1[["Date", "Unnamed: 5", "Opp"]]

In [10]:
games

      Date Unnamed: 5  Opp
0   Jul�31        NaN  STL
1    Aug�5        NaN  NYM
2   Aug�10          @  NYM
3   Aug�16        NaN  ATL
4   Aug�21          @  SFG
5   Aug�26          @  LAD
6    Sep�2        NaN  SFG
7    Sep�7        NaN  CHC
8   Sep�13          @  PHI
9   Sep�18        NaN  PHI
10  Sep�23          @  MON
11  Sep�28          @  CHC
12   Oct�4          @  NYM

In [12]:
games["Year"]= "1992"

/home/pi/projects/knucklehead_report/venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.